#aboutCollapse{box-shadow: none; margin: 0px 0px}
.parallax-container {
      height: 42.3vh;
    }
#burgerTab {float: right; line-height: 48px; height: 48px; width: 15%}
#backArrow {height: 48px; line-height: 48px}