#navBar {height: 48px}
#burger {line-height: 48px; margin: auto; height: 48px; width: 14%}
#firstTab {width: 42.5vw; padding: 0px 0px}
#secondTab {width: 42.5vw; padding: 0px 0px}
#dropList {width: 15vw; height: 48px;}
#outputAndBtn {position: absolute; top: 33vh; right: 33vw; height: 33vh; width: 33vw}
#textOutputContainer {border: #474747 solid 1px; border-top: none; position: absolute; top: 15%; right: 0%; min-height: 30%; min-width: 100%; text-align: center;}
#textOutput {line-height: 1; display: inline-block; margin: 0 auto;}
#btnGenerate {margin: auto; display: inline-block; border: black solid 1px; position: relative; bottom: 15%; right: 0%; height: 30%; width: 100%}
#dropdown1 {position:absolute}
.sidenav-trigger {margin: 0px !important}
#warning {font-size : 30px; font-weight: bold; color: red; text-align: center}
.warning {text-align: center; font-size: 20px}
.page-footer {margin-top: 500px}